@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  text-rendering: geometricPrecision;
}

html {
  @apply text-slate-50 prose-h1:!my-2 prose-p:!my-0.5 prose-p:text-sm prose-p:text-left prose-hr:!my-4 prose-h2:text-left prose-h2:!my-1 prose-ul:!mt-1 prose-ul:!mb-4;
}

::selection {
  @apply bg-violet-600 text-slate-50;
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-zinc-700;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none !important;
}
